:root{
    --text-font: 'Poppins', sans-serif;
}

body{
    background-color: #202833;
    
    /*Como font-size default é 16px; 62.5% redefine
    font-size pra 10px*/
    font-size: 62.5%;
}

section{
    min-height: 100%;
    position: relative;
}

header{
    width: 100%;
    padding-top: 0px;
    max-height: 50px;
    display: inline-block;
}

#hdr_name{
    margin-top: 0;
    font-family: Arial;
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
    
    font-weight: 600;
    

    overflow: hidden;
    word-wrap: normal;
    display: inline-block;
    max-height: 3rem;
    width: calc(100% - 60px);
}

#bt_menu{
    position: fixed;
    right: 15px;
    top: 15px;
    padding: 5px;
    border-radius: 8px;
    width: 30px;
    
    z-index: 1;
}

#menu_ops{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 30vh;
    background: #00000060;
    visibility: hidden;
    z-index: 1;
}

#mo_list{
    width: 40%;
    height: 40%;
    background: #ffffff;
    margin: auto;
    position: relative;
    border-radius: 10px;
}

#mo_list div{
    height: 33.3%;
    width: 100%;
    display: table;
}

#mo_list div:hover{
    background: #66FCF160;
}

#mo_list div div{
    font-family: var(--text-font);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.6rem;
}


.line{
    background: #ffffff;
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.last_line{
    margin-bottom: 0px;
}

#info{
    margin-top: 20vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

#ph_box{
    text-align: center;
    margin-top: 15vh;
}

#profile_ph{
    width: 200px;
    height: 200px;
    
}

#info_title{
    font-family: var(--text-font);
    color: #66FCF1;
    font-size: 2.5rem;
    text-align: center;
}

#info_text{
    font-family: var(--text-font);
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
}

#about{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 5vh;
}

#about_title{
    font-family: var(--text-font);
    color: #66FCF1;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
}

#about_text{
    font-family: var(--text-font);
    color: #ffffff;
    text-align: justify;
    font-size: 1.2rem;
}

#projects{
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    visibility: hidden;
}

#projects_text{
    font-family: var(--text-font);
    color: #ffffff;
    font-size: 1.2rem;
}

#contacts{
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    visibility: hidden;
}

#contacts p{
    font-family: var(--text-font);
    color: #ffffff;
    font-size: 1.2rem;
}


@media (max-width: 768px){
    body{
        font-size: 50%;
    }

    #mo_list{
        width: 70%;
        height: 45%;
    }

    #info{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media (max-width: 400px){
    body{
        font-size: 30%;
    }

    #info{
        padding-left: 5vw;
        padding-right: 5vw;
    }
}
